Match Analyst LinkedIn/Workflow 2 - Head-to-Head (1).json
{
  "name": "Workflow 2 - Head-to-Head",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "head-to-head",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "70813a2b-783e-48dd-a9ab-7b7468a54f60",
      "name": "Head To Head Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        192
      ],
      "webhookId": "e9b63741-a2b4-441b-a51e-5ea3dfbafe24"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "team1",
              "value": "={{ $json.body?.team1 ?? $json.team1 ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "team2",
              "value": "={{ $json.body?.team2 ?? $json.team2 ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bdfee214-8cc3-4b18-ad90-bbb81f981f34",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst errors = [];\nconst team1 = (item.team1 || '').trim();\nconst team2 = (item.team2 || '').trim();\nif (!team1) errors.push('team1 is required');\nif (!team2) errors.push('team2 is required');\nif (team1 && team2 && team1.toLowerCase() === team2.toLowerCase()) errors.push('team1 and team2 must be different');\nreturn [{\n  json: {\n    team1,\n    team2,\n    isValid: errors.length === 0,\n    errors\n  }\n}];"
      },
      "id": "d0483cf1-2e9d-455a-a3c7-bc9e4c2c9ce2",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isValid }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": "",
              "id": "e600a4f4-b864-4357-b0ed-9fa470297477"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "29374b08-9f5c-4f0f-8d70-f61b84fa13f7",
      "name": "Is Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/teams",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.team1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "07833036-2afb-47af-b7de-05dd38fecafb",
      "name": "Search Team 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      }
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/teams",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $(\"Validate Input\").item.json.team2 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5475201e-87fd-47c4-a77d-f397c748a55c",
      "name": "Search Team 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const validated = $('Validate Input').first().json;\nconst team1Results = $('Search Team 1').first().json.response || [];\nconst team2Results = $('Search Team 2').first().json.response || [];\nfunction exactMatch(results, name) {\n  const lower = name.toLowerCase();\n  let match = results.find(r => r.team && r.team.name && r.team.name.toLowerCase() === lower);\n  if (!match && results.length > 0) match = results[0];\n  return match ? match.team : null;\n}\nconst team1 = exactMatch(team1Results, validated.team1);\nconst team2 = exactMatch(team2Results, validated.team2);\nconst errors = [];\nif (!team1) errors.push('Could not resolve team1: ' + validated.team1);\nif (!team2) errors.push('Could not resolve team2: ' + validated.team2);\nreturn [{\n  json: {\n    team1Id: team1 ? team1.id : null,\n    team1Name: team1 ? team1.name : validated.team1,\n    team2Id: team2 ? team2.id : null,\n    team2Name: team2 ? team2.name : validated.team2,\n    teamsResolved: errors.length === 0,\n    errors\n  }\n}];"
      },
      "id": "4e771174-2594-4091-bed0-7e3c883c91e9",
      "name": "Resolve Team IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.teamsResolved }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": "",
              "id": "a70dc9a2-2890-4018-809e-b64fc760b98c"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d4f41734-9d4d-4afb-a73a-de276be5afbd",
      "name": "Are Teams Resolved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures/headtohead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "h2h",
              "value": "={{ $json.team1Id }}-{{ $json.team2Id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c023ccde-d5cb-4a11-bf24-1d71f7a947d1",
      "name": "Fetch H2H Meetings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Resolve Team IDs').first().json;\nconst ALLOWED = ['FT', 'AET', 'PEN'];\nconst allMeetings = $('Fetch H2H Meetings').first().json.response || [];\nconst completed = allMeetings.filter(f => ALLOWED.includes(f.fixture.status.short));\ncompleted.sort((a, b) => new Date(b.fixture.date) - new Date(a.fixture.date));\nconst totalMeetingsFound = completed.length;\nconst limited = totalMeetingsFound >= 10 ? completed.slice(0, 10) : completed;\nlet wins1 = 0, wins2 = 0, draws = 0;\nfor (const f of limited) {\n  const homeId = f.teams.home.id;\n  const homeGoals = f.goals.home;\n  const awayGoals = f.goals.away;\n  const team1IsHome = homeId === ctx.team1Id;\n  if (homeGoals === awayGoals) { draws++; }\n  else if ((team1IsHome && homeGoals > awayGoals) || (!team1IsHome && awayGoals > homeGoals)) { wins1++; }\n  else { wins2++; }\n}\nconst meetings = limited.map(f => ({\n  date: f.fixture.date ? f.fixture.date.substring(0, 10) : null,\n  competition: f.league ? f.league.name : null,\n  homeTeam: f.teams.home.name,\n  awayTeam: f.teams.away.name,\n  homeGoals: f.goals.home,\n  awayGoals: f.goals.away\n}));\nreturn [{\n  json: {\n    success: true,\n    team1: ctx.team1Name,\n    team2: ctx.team2Name,\n    totalMeetingsFound,\n    wins1,\n    wins2,\n    draws,\n    meetings\n  }\n}];"
      },
      "id": "71feeb32-39c1-4b22-8103-6b92ee63f743",
      "name": "Calculate H2H Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "0e206dd4-7841-42c9-96a6-1a107fa38247",
      "name": "Respond Head To Head",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2240,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"errors\": $json.errors } }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "2635baa2-68f5-4017-8a94-f2910a41a172",
      "name": "Respond Team Resolution Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1792,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"errors\": $json.errors } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "8eb9b172-b636-4f99-b1ff-331cf3485a19",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        288
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Head To Head Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Input Valid?": {
      "main": [
        [
          {
            "node": "Search Team 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Team 1": {
      "main": [
        [
          {
            "node": "Search Team 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Team 2": {
      "main": [
        [
          {
            "node": "Resolve Team IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Team IDs": {
      "main": [
        [
          {
            "node": "Are Teams Resolved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are Teams Resolved?": {
      "main": [
        [
          {
            "node": "Fetch H2H Meetings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Team Resolution Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch H2H Meetings": {
      "main": [
        [
          {
            "node": "Calculate H2H Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate H2H Record": {
      "main": [
        [
          {
            "node": "Respond Head To Head",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "3QsmMYW9J42g4Sod",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a747177e-6eda-4338-99e1-79b24685e972",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "92faf1cba5ccddd78df8a90e55982d81ef67d5c78fcc2d3a2bcd3480061255fc"
  },
  "nodeGroups": [],
  "id": "yTVTuTqfAZwEF7y6",
  "tags": []
}