Match Analyst LinkedIn/Workflow 1 - Match Analysis (1).json
{
  "name": "Workflow 1 - Match Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "match-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e150019c-fff7-4664-8a13-12d9225c44e4",
      "name": "Match Analysis Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "webhookId": "f3922535-8092-4a20-b39b-f3439802d391"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "team1",
              "value": "={{ $json.body?.team1 ?? $json.team1 ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "team2",
              "value": "={{ $json.body?.team2 ?? $json.team2 ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "matchDate",
              "value": "={{ $json.body?.matchDate ?? $json.matchDate ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "60010a4c-74bd-49eb-9436-5907ad11c56f",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst errors = [];\nconst team1 = (item.team1 || '').trim();\nconst team2 = (item.team2 || '').trim();\nconst matchDate = (item.matchDate || '').trim();\nconst dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!team1) errors.push('team1 is required');\nif (!team2) errors.push('team2 is required');\nif (!matchDate) errors.push('matchDate is required');\nif (matchDate && !dateRegex.test(matchDate)) errors.push('matchDate must be in YYYY-MM-DD format');\nif (team1 && team2 && team1.toLowerCase() === team2.toLowerCase()) errors.push('team1 and team2 must be different');\nreturn [{\n  json: {\n    team1,\n    team2,\n    matchDate,\n    isValid: errors.length === 0,\n    errors\n  }\n}];"
      },
      "id": "a4b0e69c-6f15-45f1-80fb-12f15645e3d8",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isValid }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": "",
              "id": "f8e524d6-4e8e-4933-a055-0520385f5cd3"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "4648fd99-d750-42f3-8392-3b648f3b2087",
      "name": "Is Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/teams",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.team1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2e6e039a-482d-4e0c-92fb-3e3eb7d345e2",
      "name": "Search Team 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      }
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/teams",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $(\"Validate Input\").item.json.team2 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8cf781a2-05fc-4961-a560-442034e43b04",
      "name": "Search Team 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const validated = $('Validate Input').first().json;\nconst team1Results = $('Search Team 1').first().json.response || [];\nconst team2Results = $('Search Team 2').first().json.response || [];\nfunction exactMatch(results, name) {\n  const lower = name.toLowerCase();\n  let match = results.find(r => r.team && r.team.name && r.team.name.toLowerCase() === lower);\n  if (!match && results.length > 0) match = results[0];\n  return match ? match.team : null;\n}\nconst team1 = exactMatch(team1Results, validated.team1);\nconst team2 = exactMatch(team2Results, validated.team2);\nconst errors = [];\nif (!team1) errors.push('Could not resolve team1: ' + validated.team1);\nif (!team2) errors.push('Could not resolve team2: ' + validated.team2);\nreturn [{\n  json: {\n    team1Id: team1 ? team1.id : null,\n    team1Name: team1 ? team1.name : validated.team1,\n    team2Id: team2 ? team2.id : null,\n    team2Name: team2 ? team2.name : validated.team2,\n    matchDate: validated.matchDate,\n    teamsResolved: errors.length === 0,\n    errors\n  }\n}];"
      },
      "id": "b3549471-d49e-400c-83d0-019885a98265",
      "name": "Resolve Team IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.teamsResolved }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": "",
              "id": "d7d44d48-715f-49e7-b7c3-d6a20cc15665"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "1183f674-f46a-483e-8d15-bd47eaf60033",
      "name": "Are Teams Resolved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $json.matchDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5444ad2c-d093-4346-91f7-d339fde317b1",
      "name": "Fetch Fixtures By Date",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resolved = $('Resolve Team IDs').first().json;\nconst fixtures = $('Fetch Fixtures By Date').first().json.response || [];\nconst ALLOWED = ['FT', 'AET', 'PEN'];\nconst match = fixtures.find(f => {\n  const home = f.teams.home.id;\n  const away = f.teams.away.id;\n  const validTeams = (home === resolved.team1Id && away === resolved.team2Id) || (home === resolved.team2Id && away === resolved.team1Id);\n  return validTeams && ALLOWED.includes(f.fixture.status.short);\n});\nreturn [{\n  json: {\n    ...resolved,\n    fixtureFound: !!match,\n    fixtureId: match ? match.fixture.id : null,\n    fixture: match || null\n  }\n}];"
      },
      "id": "cd476c9e-6a36-485e-854c-68b71b656377",
      "name": "Find Fixture",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.fixtureFound }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": "",
              "id": "fb280e7c-c3c7-44cc-be65-5ddd98c7c811"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "1f236cd3-f685-493b-8312-d71ce40e1f61",
      "name": "Is Fixture Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures/statistics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fixture",
              "value": "={{ $json.fixtureId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f53da8a1-f5b3-4f96-92f0-81cc27f3397c",
      "name": "Fetch Statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2464,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fixture",
              "value": "={{ $(\"Find Fixture\").first().json.fixtureId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "771f1579-d414-4ef7-a437-a2334481aa9d",
      "name": "Fetch Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2688,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures/players",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fixture",
              "value": "={{ $(\"Find Fixture\").first().json.fixtureId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "60d245b1-f942-43a2-b968-26b00c7dd662",
      "name": "Fetch Players",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2912,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures/lineups",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fixture",
              "value": "={{ $(\"Find Fixture\").first().json.fixtureId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "eecc365a-a8d7-4d0d-88bc-01db09d041f5",
      "name": "Fetch Lineups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3136,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/injuries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fixture",
              "value": "={{ $(\"Find Fixture\").first().json.fixtureId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "4c5b6f8b-2e07-4acb-8abd-b35ecfc07b51",
      "name": "Fetch Injuries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3360,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "team",
              "value": "={{ $(\"Find Fixture\").first().json.team1Id }}"
            },
            {
              "name": "last",
              "value": "5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a8b074fd-b83a-4bc9-a605-985abe6a5cd8",
      "name": "Fetch Team 1 Form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3584,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "team",
              "value": "={{ $(\"Find Fixture\").first().json.team2Id }}"
            },
            {
              "name": "last",
              "value": "5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1a692535-43d3-4879-aff6-09f46db0a8f5",
      "name": "Fetch Team 2 Form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3808,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const fixtureCtx = $('Find Fixture').first().json;\nfunction calcForm(fixtures, teamId) {\n  const results = [];\n  let points = 0;\n  for (const f of fixtures) {\n    const homeId = f.teams.home.id;\n    const isHome = homeId === teamId;\n    const homeGoals = f.goals.home;\n    const awayGoals = f.goals.away;\n    let result;\n    if (homeGoals === awayGoals) { result = 'D'; points += 1; }\n    else if ((isHome && homeGoals > awayGoals) || (!isHome && awayGoals > homeGoals)) { result = 'W'; points += 3; }\n    else { result = 'L'; }\n    results.push(result);\n  }\n  return { results, points };\n}\nconst team1Fixtures = $('Fetch Team 1 Form').first().json.response || [];\nconst team2Fixtures = $('Fetch Team 2 Form').first().json.response || [];\nreturn [{\n  json: {\n    ...fixtureCtx,\n    form: {\n      team1: calcForm(team1Fixtures, fixtureCtx.team1Id),\n      team2: calcForm(team2Fixtures, fixtureCtx.team2Id)\n    }\n  }\n}];"
      },
      "id": "40c44a42-fcc7-490e-83f7-6d2c0699ba6f",
      "name": "Calculate Team Form",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Calculate Team Form').first().json;\nconst playersResponse = $('Fetch Players').first().json.response || [];\nconst allPlayers = [];\nfor (const teamBlock of playersResponse) {\n  const teamId = teamBlock.team ? teamBlock.team.id : null;\n  for (const p of (teamBlock.players || [])) {\n    const stats = (p.statistics && p.statistics[0]) || {};\n    const rating = parseFloat(stats.games && stats.games.rating) || 0;\n    const goals = (stats.goals && stats.goals.total) || 0;\n    const assists = (stats.goals && stats.goals.assists) || 0;\n    const keyPasses = (stats.passes && stats.passes.key) || 0;\n    const position = stats.games && stats.games.position;\n    allPlayers.push({\n      teamId,\n      playerId: p.player.id,\n      name: p.player.name,\n      position,\n      rating,\n      goals,\n      assists,\n      keyPasses\n    });\n  }\n}\nfunction rankBy(list) {\n  return list.slice().sort((a, b) => {\n    if (b.rating !== a.rating) return b.rating - a.rating;\n    if (b.goals !== a.goals) return b.goals - a.goals;\n    if (b.assists !== a.assists) return b.assists - a.assists;\n    return b.keyPasses - a.keyPasses;\n  });\n}\nfunction bestByPosition(pos) {\n  const list = allPlayers.filter(p => (p.position || '').toUpperCase() === pos);\n  const ranked = rankBy(list);\n  return ranked.length ? ranked[0] : null;\n}\nconst playerRatings = {\n  bestGoalkeeper: bestByPosition('G'),\n  bestDefender: bestByPosition('D'),\n  bestMidfielder: bestByPosition('M'),\n  bestAttacker: bestByPosition('F')\n};\nconst motmRanked = rankBy(allPlayers);\nconst motm = motmRanked.length ? motmRanked[0] : null;\nreturn [{\n  json: {\n    ...ctx,\n    playerRatings,\n    motm\n  }\n}];"
      },
      "id": "338fde53-7b66-42c5-b432-7f4b16d795b1",
      "name": "Calculate Ratings and MOTM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4256,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Calculate Ratings and MOTM').first().json;\nconst events = $('Fetch Events').first().json.response || [];\nconst rawTimeline = events.map(e => ({\n  minute: (e.time.elapsed != null ? e.time.elapsed : '') + (e.time.extra ? ('+' + e.time.extra) : '') + \"'\",\n  type: (e.type || '').toLowerCase(),\n  detail: e.detail || '',\n  team: e.team ? e.team.name : null,\n  player: e.player ? e.player.name : null,\n  assist: e.assist ? e.assist.name : null\n}));\nreturn [{\n  json: {\n    ...ctx,\n    rawTimeline\n  }\n}];"
      },
      "id": "169bff35-b5f1-42f5-8aa8-519be72af1a0",
      "name": "Build Raw Timeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures/headtohead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "h2h",
              "value": "={{ $(\"Calculate Ratings and MOTM\").first().json.team1Id }}-{{ $(\"Calculate Ratings and MOTM\").first().json.team2Id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "6359b3fc-a551-4f76-9eb5-f5831afb29f5",
      "name": "Fetch H2H Meetings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4704,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avz2FQoEogFyTcwM",
          "name": "API-Football"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Raw Timeline').first().json;\nconst ALLOWED = ['FT', 'AET', 'PEN'];\nconst allMeetings = $('Fetch H2H Meetings').first().json.response || [];\nconst completed = allMeetings.filter(f => ALLOWED.includes(f.fixture.status.short));\ncompleted.sort((a, b) => new Date(b.fixture.date) - new Date(a.fixture.date));\nconst totalMeetingsFound = completed.length;\nconst limited = totalMeetingsFound >= 10 ? completed.slice(0, 10) : completed;\nlet wins1 = 0, wins2 = 0, draws = 0;\nfor (const f of limited) {\n  const homeId = f.teams.home.id;\n  const homeGoals = f.goals.home;\n  const awayGoals = f.goals.away;\n  const team1IsHome = homeId === ctx.team1Id;\n  if (homeGoals === awayGoals) { draws++; }\n  else if ((team1IsHome && homeGoals > awayGoals) || (!team1IsHome && awayGoals > homeGoals)) { wins1++; }\n  else { wins2++; }\n}\nconst meetings = limited.map(f => ({\n  date: f.fixture.date ? f.fixture.date.substring(0, 10) : null,\n  competition: f.league ? f.league.name : null,\n  homeTeam: f.teams.home.name,\n  awayTeam: f.teams.away.name,\n  homeGoals: f.goals.home,\n  awayGoals: f.goals.away\n}));\nreturn [{\n  json: {\n    ...ctx,\n    h2h: {\n      team1: ctx.team1Name,\n      team2: ctx.team2Name,\n      totalMeetingsFound,\n      wins1,\n      wins2,\n      draws,\n      meetings\n    }\n  }\n}];"
      },
      "id": "a724f8e0-e388-40f5-90aa-58be64dede31",
      "name": "Calculate H2H Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4928,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Match data (JSON):\n{{ JSON.stringify({ stats: $(\"Fetch Statistics\").first().json.response, events: $(\"Calculate H2H Record\").first().json.rawTimeline, lineups: $(\"Fetch Lineups\").first().json.response, form: $(\"Calculate H2H Record\").first().json.form, injuries: $(\"Fetch Injuries\").first().json.response, playerRatings: $(\"Calculate H2H Record\").first().json.playerRatings, motm: $(\"Calculate H2H Record\").first().json.motm }) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a football tactical analyst. Using ONLY the supplied match data (stats, events, lineups, form, injuries, playerRatings, motm), explain: tactical differences between the two teams, key turning points in the match, the impact of any absences/injuries, and the best performers. Do not invent facts not present in the data. Keep the entire response under 250 words combined across all fields. Return your answer strictly as JSON matching the required schema."
        }
      },
      "id": "783f0580-bfce-4b3b-85d7-de8def720d7b",
      "name": "AI Tactical Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5152,
        112
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"tacticalDifferences\":\"string\",\"keyTurningPoints\":\"string\",\"impactOfAbsences\":\"string\",\"bestPerformers\":\"string\"}"
      },
      "id": "df5497a7-3a65-4599-9c7f-54ca0c988d50",
      "name": "Tactical Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        5296,
        336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Raw match events (JSON):\n{{ JSON.stringify($(\"Calculate H2H Record\").first().json.rawTimeline) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You convert raw football match events into a readable timeline. For each event in the input array, produce one timeline entry with \"minute\" (copy as given), \"type\" (copy as given), and \"event\" (a short one-sentence human-readable description built only from the player, team, assist, and detail fields provided). You may summarize wording but must NEVER invent events that are not in the input array, and must not omit any input event. Return strictly as JSON matching the required schema."
        }
      },
      "id": "e1911a84-4eb7-426a-a2f5-639f1bf34b6c",
      "name": "AI Match Timeline Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5504,
        112
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"timeline\":[{\"minute\":\"23'\",\"type\":\"goal\",\"event\":\"Goal description\"}]}"
      },
      "id": "42de6bfa-e16f-47f7-8d9f-8bae7a1bef2e",
      "name": "Timeline Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        5648,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Calculate H2H Record').first().json;\nconst fixture = ctx.fixture || {};\nconst stats = $('Fetch Statistics').first().json.response || [];\nconst lineups = $('Fetch Lineups').first().json.response || [];\nconst injuries = $('Fetch Injuries').first().json.response || [];\nconst tactical = $('AI Tactical Analysis Agent').first().json.output || {};\nconst timelineOut = $('AI Match Timeline Agent').first().json.output || {};\nreturn [{\n  json: {\n    success: true,\n    fixture: fixture.fixture || null,\n    score: fixture.goals || null,\n    competition: fixture.league || null,\n    venue: (fixture.fixture && fixture.fixture.venue) || null,\n    stats,\n    events: ctx.rawTimeline,\n    lineups,\n    form: ctx.form,\n    injuries,\n    playerRatings: ctx.playerRatings,\n    motm: ctx.motm,\n    timeline: timelineOut.timeline || [],\n    analysis: tactical,\n    headToHead: ctx.h2h\n  }\n}];"
      },
      "id": "f61d2715-3017-440d-9c84-012f4f96f9a3",
      "name": "Assemble Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "3375a753-1503-421a-8036-919f1a9ebd2f",
      "name": "Respond Match Analysis",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        6080,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"errors\": [\"No completed fixture found between \" + $json.team1Name + \" and \" + $json.team2Name + \" on \" + $json.matchDate] } }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "b5f0f547-dd9b-4f2d-9143-447a94c22830",
      "name": "Respond Fixture Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2464,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"errors\": $json.errors } }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "6594a18c-f427-4a93-adba-80997f470877",
      "name": "Respond Team Resolution Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1792,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"errors\": $json.errors } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "0fcf5627-dab8-417e-84c5-7c1c31eb4845",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        496
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        5152,
        368
      ],
      "id": "65c30e73-0ae7-44ed-ade1-e02644bcc0a3",
      "name": "Gemini Model - Tactical",
      "credentials": {
        "googlePalmApi": {
          "id": "aiTf7bE9SmZ6iMHm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        5504,
        368
      ],
      "id": "16d9f186-f67a-4273-a1a3-0c9488131e77",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aiTf7bE9SmZ6iMHm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Match Analysis Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Input Valid?": {
      "main": [
        [
          {
            "node": "Search Team 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Team 1": {
      "main": [
        [
          {
            "node": "Search Team 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Team 2": {
      "main": [
        [
          {
            "node": "Resolve Team IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Team IDs": {
      "main": [
        [
          {
            "node": "Are Teams Resolved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are Teams Resolved?": {
      "main": [
        [
          {
            "node": "Fetch Fixtures By Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Team Resolution Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Fixtures By Date": {
      "main": [
        [
          {
            "node": "Find Fixture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Fixture": {
      "main": [
        [
          {
            "node": "Is Fixture Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Fixture Found?": {
      "main": [
        [
          {
            "node": "Fetch Statistics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Fixture Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Statistics": {
      "main": [
        [
          {
            "node": "Fetch Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Events": {
      "main": [
        [
          {
            "node": "Fetch Players",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Players": {
      "main": [
        [
          {
            "node": "Fetch Lineups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Lineups": {
      "main": [
        [
          {
            "node": "Fetch Injuries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Injuries": {
      "main": [
        [
          {
            "node": "Fetch Team 1 Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Team 1 Form": {
      "main": [
        [
          {
            "node": "Fetch Team 2 Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Team 2 Form": {
      "main": [
        [
          {
            "node": "Calculate Team Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Team Form": {
      "main": [
        [
          {
            "node": "Calculate Ratings and MOTM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Ratings and MOTM": {
      "main": [
        [
          {
            "node": "Build Raw Timeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Raw Timeline": {
      "main": [
        [
          {
            "node": "Fetch H2H Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch H2H Meetings": {
      "main": [
        [
          {
            "node": "Calculate H2H Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate H2H Record": {
      "main": [
        [
          {
            "node": "AI Tactical Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Tactical Analysis Agent": {
      "main": [
        [
          {
            "node": "AI Match Timeline Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tactical Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Tactical Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Match Timeline Agent": {
      "main": [
        [
          {
            "node": "Assemble Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeline Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Match Timeline Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Final Response": {
      "main": [
        [
          {
            "node": "Respond Match Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model - Tactical": {
      "ai_languageModel": [
        [
          {
            "node": "AI Tactical Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Match Timeline Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "3QsmMYW9J42g4Sod",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "99ffcdcd-4f83-4694-b6ec-56abf4f50d1c",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "92faf1cba5ccddd78df8a90e55982d81ef67d5c78fcc2d3a2bcd3480061255fc"
  },
  "nodeGroups": [],
  "id": "HpUMps3UnPzbldSL",
  "tags": []
}